{% extends 'base.html' %}

{% load jalali_tags %}
{% load static %}


{% block content %}




<div class="d-flex justify-content-center mb-4">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 px-2">

        <div class="col-12 text-center mb-3">

            <h4 dir="auto">
                رزرو نوبت جدید
            </h4>

        </div>

        <div class="col-12">
            <div class="col-12">
                <div class="alert alert-warning" role="alert">
                    لغو نوبت فقط تا 24 ساعت قبل از زمان انتخابی امکان پذیر است
                </div>

                <div class="alert alert-info" role="alert">
                    سرویس انتخاب شده: {{selected_service_name}}
                </div>

                {% if error_message %}
                <div class="alert alert-danger"> {{error_message}} </div>
                {% endif %}
                <div id="error-alert" class="alert alert-danger" style="display: none;"> </div>
                <div id="empty-service-alert" class="alert alert-warning" style="display: none;"> </div>
            </div>



            <div class="col-12   bg-warning">


                <table class="table text-center table-bordered rounded-3" dir="rtl">
                    <thead>
                        <tr>
                            <th scope="col">تایم</th>
                            <th scope="col">نوبت گرفتن</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for date in dates_list %}
                        <tr>
                            <td> {{ date.weekday }} {{ date.date|to_jalali:'%Y/%m/%d' }} </td>
                            <td>

                                <div class="btn-group">

                                    {% if date.status == "active" %}

                                    <form method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="date" id="date" value="{{ date.formatted_date }}">
                                        <button name="btn-reserve" type="submit" value="Submit"
                                            class="btn btn-success btn-sm">رزرو</button>
                                    </form>
                                    {% elif date.status == "day-off" %}
                                    <button class="btn btn-danger btn-sm" disabled>تعطیل</button>

                                    {% endif %}

                                    


                                    {% if request.user.is_staff %}
                                    <div class="px-2" ></div>
                                    <input type="hidden" class="date-field" name="date"
                                        value="{{ date.formatted_date }}">

                                    {% if date.status == "active" %}
                                    <button class="make-off-btn btn btn-warning btn-sm">تعطیل کردن</button>
                                    {% elif date.status == "day-off" %}
                                    <button class="make-on-btn btn btn-info btn-sm">باز کردن</button>
                                    {% endif %}
                                    {% endif %}
                                </div>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>


            </div>


        </div>
    </div>
</div>



{% endblock %}






{% block jalali_js_bindings %}

<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>

{% endblock%}


{% block static_js %}


<script>
   

   $(document).ready(function () {
    // برای تعطیل کردن تاریخ
    $('.make-off-btn').click(function () {
        var date = $(this).closest('tr').find('.date-field').val();

        $.ajax({
            url: "{% url 'reserve:make_off' %}", 
            type: 'POST',
            data: {
                'date': date,
                'csrfmiddlewaretoken': '{{ csrf_token }}', 
            },
            success: function (response) {
                // alert(response.message);
                location.reload();  
            },
            error: function (xhr, errmsg, err) {
                alert('خطا: ' + errmsg);
            }
        });
    });

    $('.make-on-btn').click(function () {
        var date = $(this).closest('tr').find('.date-field').val();

        $.ajax({
            url: "{% url 'reserve:make_on' %}", 
            type: 'POST',
            data: {
                'date': date,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function (response) {
                
                // alert(response.message);
                location.reload(); 
            },
            error: function (xhr, errmsg, err) {
                var responseError = xhr.responseJSON ? xhr.responseJSON.error : 'خطا در درخواست';
                // alert('خطا: ' + responseError);
            }
        });
    });
});






</script>

<!-- <script src="{% static 'reservation/js/select_date_form_validation.js' %}"></script> -->

{% endblock%}