{% extends 'base.html' %}

{% load jalali_tags %}
{% load static %}


{% block content %}




<div class="d-flex justify-content-center mb-4">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 px-2">

        <div class="col-12 text-center mb-3">

            <h4 dir="auto">
                رزرو نوبت جدید
            </h4>

        </div>

        <div class="col-12">
            <div class="col-12">
                <div class="alert alert-info" role="alert">
                    لغو نوبت فقط تا 24 ساعت قبل از زمان انتخابی امکان پذیر است
                </div>

                {% if error_message %}
                <div class="alert alert-danger"> {{error_message}} </div>
                {% endif %}
                <div id="error-alert" class="alert alert-danger" style="display: none;"> </div>
                <div id="empty-service-alert" class="alert alert-warning" style="display: none;"> </div>
            </div>



            <div class="col-12">

                <div class="col-md-6 mb-3">
                    <label for="id_service" class="form-label">سرویس مورد نظر خود را انتخاب کنید</p>
                        <select class="form-select" aria-label="سرویس" id="id_service" onchange="checkService()" aria-placeholder="سرویس">
                            {% for service in active_services %}
                            <option value="{{service.id}}">{{service}}</option>

                            {% endfor %}

                        </select>
                </div>

                <table class="table text-center" dir="rtl">
                    <thead>
                        <tr>
                            <!-- <th scope="col">#</th> -->
                            <th scope="col">تایم</th>
                            <th scope="col">نوبت گرفتن</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for date in dates_list %}

                        <tr>
                            <td> {{ date.weekday }} {{ date.date|to_jalali:'%Y/%m/%d' }} </td>
                            <td>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="date" value="{{ date.formatted_date }}">
                                    <input type="hidden" name="service"  id="serviceInput"  value="">
                                    <button onclick="checkService()" name="btn-reserve" type="submit"
                                        value="Submit" class="btn btn-success btn-sm">انتخاب این تاریخ</button>
                                </form>
                            </td>



                        </tr>
                        {% endfor %}
                    </tbody>
                </table>


            </div>


        </div>
    </div>
</div>



{% endblock %}






{% block jalali_js_bindings %}

<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>

{% endblock%}


{% block static_js %}

<script>
    function checkService() {
        var selectedService = document.getElementById("id_service").value;
        document.getElementById("serviceInput").value = selectedService;
    }
</script>

<!-- <script src="{% static 'reservation/js/select_date_form_validation.js' %}"></script> -->

{% endblock%}