{% extends 'base.html' %}

{% load static %}


{% block content %}




<!-- <div class="d-flex justify-content-center mb-4">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 px-2"> -->

<div class="row text-center mb-3">
    <h3 class"" dir="auto"><strong> رزرو نوبت جدید</strong></h3>
    <p class="m-2">سرویس مورد نظر خود را انتخاب کنید</p>
</div>




<div class="row row-cols-1 row-cols-lg-2 row-cols-md-2 row-cols-sm-1 row-cols-xs-1 p-3 g-3">
    {% for service in all_services %}
    <div class="col mb-2">
        <div class="card border-0">
            <img src="{{service.img.url}}" class="" alt="تصویر یافت نشد" role="img" width="100%" height="225">
            


            <div class="card-body">
                <h5 class="text-center"><strong>{{service}}</strong></h5>
                <p class="card-text text-muted">{{service.desc}}</p>
                     <small class="text-body-secondary">
                        {% if service.is_active %}
                        <i class="bi bi-patch-check text-green"></i>
                        این سرویس قابل ارائه است
                        {% else %}
                        <i class="bi bi-patch-exclamation text-danger"></i>
                        در حال حاضر امکان ارائه این سرویس وجود ندارد
                        {% endif %}
                    </small>
            </div>

            <div class="card-body text-center">
                    {% if service.is_active %}
                    <form method="post"> {% csrf_token %}
                        <input type="hidden" name="service" value="{{ service.id }}">
                        <button type="submit" value="Submit" class="btn btn-sm btn-warning">انتخاب این سرویس</button>
                    </form>
                    {% else %}
                    <button type="button" class="btn btn-sm btn-warning" disabled> غیرفعال </button>
                    {% endif %}
              </div>

        </div>
    </div>

    {% endfor %}





    {% endblock %}









    {% block static_js %}

    <script>
        function checkService() {

            var selectedService = document.getElementById("id_service").value;
            console.log(selectedService);
            var serviceInputs = document.querySelectorAll("input[name='service']");
            for (var i = 0; i < serviceInputs.length; i++) {
                serviceInputs[i].value = selectedService;
            }
        }

    </script>

    <!-- <script src="{% static 'reservation/js/select_date_form_validation.js' %}"></script> -->

    {% endblock%}